@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scroll bar remains black */
html,
body {
  color-scheme: dark;
  /* remove weird overflow-x / scrolling issues*/
  max-width: 100%;
  overflow-x: hidden;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --border: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --border: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

details {
  user-select: none;
}

details>summary span.collapsible {
  width: 24px;
  height: 24px;
  transition: all 0.3s;
  margin-left: auto;
}

details[open] summary span.collapsible {
  transform: rotate(180deg);
}
